
<base href="/">

<nav>
  <div>
        <a routerLink="/GeogeUsers" routerLinkActive="active">Users</a> 
  </div>     
  <div>
        <a routerLink="/Q" routerLinkActive="active">Questios</a>
  </div>
      </nav>


      <router-outlet></router-outlet>
      <app-display-error></app-display-error>  
<!-- 
<div *ngFor= "let documentDetail of document.documentDetails; let i=index;" >
<app-text-question [question]= "documentDetail.question" *ngIf="documentDetail.question.type==questionType.text"></app-text-question>    
<app-radio-button-list-question [question]= "documentDetail.question"  *ngIf="documentDetail.question.type==questionType.radiolist">

</app-radio-button-list-question>

</div> -->
