
<base href="/">

<nav>
        <a routerLink="/GeogeUsers" routerLinkActive="active">Users</a> iuiuiuiuiuiui

        <a routerLink="/Q" routerLinkActive="active">Questios</a>
      </nav>
      <router-outlet></router-outlet>
<!-- 
<div *ngFor= "let documentDetail of document.documentDetails; let i=index;" >
<app-text-question [question]= "documentDetail.question" *ngIf="documentDetail.question.type==questionType.text"></app-text-question>    
<app-radio-button-list-question [question]= "documentDetail.question"  *ngIf="documentDetail.question.type==questionType.radiolist">

</app-radio-button-list-question>

</div> -->
